<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> -->
<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" type="text/css" href="resources/css/layout.css">
  </head>
  <body class="name">
    <!-- <p th:text="#{home.welcome}">Welcome to our grocery store!</p> -->
    <p>test</p>
    <form action="#">
    	<table>
    		<tr>
    			<th>test</th>
    			<th>test</th>
    		</tr>
    		<tr>
    			<td><input type="text" name="name1" value=""/></td>
    			<td><input type="text" name="name2" value=""/></td>
    		</tr>
    	</table>
    </form>
  </body>
</html>