<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>メニュー画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="resources/image/favicon.png" >
<link rel="stylesheet" type="text/css" href="resources/css/common/table.css">
<link rel="stylesheet" type="text/css" href="resources/css/common/baseLayout.css">
<script type="text/javascript" src="resources/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="resources/js/menu.js"></script>
</head>
<body>
<h3 class="title">オンラインメニュー<br></h3>
	<!-- タイルメニュー -->
	<div class="container">
		<!-- ユーザ情報 -->
		<div class="userInfoItem"><p th:text="${account}" class="account"></p></div>
		<!-- 設定 -->
		<div class="settingItem" onclick="toSetting()"><img class="menuIcon" src="resources/image/setting.png" /></div>
		<!-- ログアウト -->
		<div class="logoutItem" onclick="toLogout()"><img class="menuIcon" src="resources/image/logout.png" /></div>
		<!-- 購入 -->
		<div class="purchaseItem" onclick="toPurchase()"><img class="menuIcon" src="resources/image/find.png" /></div>
		<!-- カート内確認 -->
		<div class="cartCheckItem" onclick="toCartConfirm()"><img class="menuIcon" src="resources/image/shoppingCart.png" /></div>
		<!-- カート内削除 -->
		<div class="cartDeleteItem" onclick="toCartDelete()"><img class="menuIcon" src="resources/image/emptyShoppingCart.png" /></div>
		<!-- 履歴 -->
		<div class="historyItem" onclick="toHistory()"><img class="menuIcon" src="resources/image/history.png" /></div>
	</div>











</body>
</html>