<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>ユーザ作成完了画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="../resources/image/favicon.png" th:href="@{resources/image/favicon.png}">
<link rel="stylesheet" type="text/css" href="../resources/css/common/table.css" th:href="@{resources/css/common/table.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/common/form.css" th:href="@{resources/css/common/form.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/common/baseLayout.css" th:href="@{resources/css/common/baseLayout.css}">
</head>
<body>
<h3 class="title">ユーザ作成完了画面</h3>
	<div align="center">
		<p>完了しました。</p>
		<br><br><br>
		<form action="./login" method="get">
			<input type="submit" value="ログイン画面へ" />
		</form>
	</div>
<script type="text/javascript" src="../resources/js/jquery.js" th:src="@{resources/js/jquery.js}"></script>
</body>
</html>