* {
	font-family: arial, sans-serif;
}

.center {
	align: center;
}

.title {
	border-left: 15px solid #f09199;
	padding: 7px;
	background: #efd7d9;
}

.main-nav a {
	margin: 10px;
	border-radius: 5px;
	background: #60B99A;
	color: #fff;
	display: block;
	padding: 15px;
	text-decoration: none;
}

.main-nav .logo {
	background: #4584b1;
	display: -webkit-flex;
	display: flex;
}

.container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr /* 3fr */;
	grid-template-rows: 400px 400px 400px 400px auto;
}

.item {
	background: #ddd;
	padding: 10px;
	border-radius: 8px;
	border: 5px solid #ccc;
}

img.menuIcon {
	border: 0;
	width: 95px;
}
div.item:hover {
	background-color: #e8837f;
}